<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.albanfontaine.realestatemanager2">

	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/REMTheme">
		<activity android:name=".controllers.LoanActivity"
			android:label="Simuler un prêt"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".controllers.MainActivity"/>
		</activity>
		<activity
			android:name=".controllers.MapActivity"
			android:label="Carte des biens"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".controllers.MainActivity" />
		</activity>
		<activity
			android:name=".controllers.SearchActivity"
			android:label="Recherche"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".controllers.MainActivity" />
		</activity>
		<activity
			android:name=".controllers.AddActivity"
			android:label="Ajouter bien"
			android:parentActivityName=".controllers.MainActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".controllers.MainActivity" />
		</activity>
		<activity
			android:name=".controllers.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="AIzaSyADBmQ_3NHCQjEFjqwO4R8YSe3WUc5AwcI" />

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.albanfontaine.realestatemanager2.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>

</manifest>